<div class="container">
  <div class="picture">
    <img
      src="https://t3.ftcdn.net/jpg/02/48/42/64/240_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      alt=""
    >
  </div>
  <div class="title">
    <h1><a href="#">Saiu a versão do Angular</a></h1>
  </div>
  <div class="description">
    <a href="#">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima illo,
        quas nisi saepe perspiciatis odit, inventore dignissimos distinctio
        rerum quos dolor amet veritatis itaque praesentium eum dolores eos, atque quod?
      </p>
    </a>
  </div>
</div>
