<app-title></app-title>
<div class="container">
  <div class="articles_left">
    <app-big-card
      id="1"
      imageUrl="https://github.com/MaykonRaphael/nlw-ia/raw/master/.github/cover.png"
      title="Shorts Summary"
      description="Application to transcribe audio from a short video from YouTube using Artificial Intelligence to do that transcription!"
    ></app-big-card>
  </div>
  <div class="articles_rigth">
    <app-small-card
      id="2"
      imageUrl="https://github.com/MaykonRaphael/dio-clone/raw/master/.github/home.png"
      title="Clone site DIO"
    ></app-small-card>
    <app-small-card
      id="3"
      imageUrl="https://github.com/MaykonRaphael/genius-dio/raw/master/.github/page.png"
      title="Genius Game"
    ></app-small-card>
    <app-small-card
      id="4"
      imageUrl="https://github.com/MaykonRaphael/newAwax/raw/master/.github/page.png"
      title="Awax web site"
    ></app-small-card>
  </div>
</div>
